@model DomainModels.PayrollRuns

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PayrollRuns</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekEnding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PayrollId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
